* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: #ccc;
    font-family: Inter;
}
p img {
    width: 20px;
    height: 5px;
}
button img {
    width: 20px;
    height: 25px;
    padding-right: 5px;
}

hr {
    width: 90%;
    margin: 2.08rem 5%;
    border: 1px solid #2f3e53;
}

#light-mode {
    width: 24px;
    height: 24px;
    background-image: url(./icons/sun-8786.png);
    background-repeat: no-repeat;
}
#dark-mode {
    width: 24px;
    height: 24px;
    background-image: url(./icons/moon-6694.png);
    background-repeat: no-repeat;
}

/*  ========================
    TYPEOPGRAPHY
    ===================== */
h1 {
    font-family: Karla;
    font-size: 2.5rem;
    font-weight: 800;
}
p {
    font-size: 1.25rem;
}
.main-dark p {
    color: #d5d4d8;
}
.main-dark {
    color: #fff;
    background-color: #1f2937;
}
.accent-color {
    color: #10b981;
}
.generated-password {
    font-family: Share Tech Mono;
    color: #10b981;
    background-color: #2f3e53;
    background-image: url(./icons/elipsis-no-color.png);
    background-repeat: no-repeat;
    background-position: 50%;
}
.top-container button {
    color: #fff;
    background-color: #10b981;
}
main .bottom-container p {
    color: #10b981;
}
.slider p {
    font-weight: 800;
}

/*  ========================
    LAYOUT
    ===================== */

h1 {
    margin-bottom: 0.625rem;
    padding-top: 2.25rem;
}
main {
    margin: 0 auto;
    max-width: 550px;
}
.top-container {
    margin: 3.1875rem 25px 0;
    border-bottom: 1px solid #2f3e53;
}

.top-container button {
    display: flex;
    align-items: center;
    padding: 0.5625rem 1.0625rem;
    border: none;
    border-radius: 6px;
    margin-bottom: 3.1875rem;
}
.bottom-container {
    margin: 3.1875rem 25px 0;
    padding-bottom: 5.25rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.generated-password {
    margin-bottom: 1rem;
    width: 240px;
    height: 40px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  ========================
    SLIDER
    ===================== */

.slider {
    margin: 3.1875rem 0 1em;
    display: flex;
    align-items: center;
}

input[type="range"] {
    -webkit-appearance: none;
    margin: 0 1.25em;
    width: 30%;
    background-color: #1f2937;
}
input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    height: 5px;
    cursor: pointer;
    background: #10b981;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 4px solid #10b981;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #fff;
    cursor: pointer;
    margin-top: -7px;
}

/* DARK/LIGHT MODES */
/* The switch - the box around the slider */
.slider-el {
    padding-top: 1.5em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.switch {
    margin: 0 0.5em;
    position: relative;
    display: inline-block;
    width: 52px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* DARK/LIGHT SLIDER */
.modeSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.modeSlider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .modeSlider {
    background-color: #10b981;
}

input:checked + .modeSlider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

/* Rounded sliders */
.modeSlider.round {
    border-radius: 30px;
}

.modeSlider.round:before {
    border-radius: 50%;
}

/*  ========================
    MEDIA QUERIES
    ===================== */

@media (max-width: 550px) {
    main {
        max-width: 300px;
    }
    .bottom-container {
        flex-direction: column;
    }
    .generated-password {
        width: 250px;
    }
    .slider label {
        font-size: 0.9rem;
    }
}

/*  ========================
    LIGHT MODE
    ===================== */
.main-light {
    color: #2b283a;
    background-color: #ecfdf5;
}
.main-light p {
    color: #6b7280;
}
.main-light .generated-password {
    background-blend-mode: screen;
}
